/*por tipo*/

/* p{
    color: darkred;
}
h1{
    color: blueviolet;
}
strong{
    color: darkgreen;
} */

/*por id*/
#titulo{
    color: blue;
    text-align: center;
}

p#descricao{
    color: darkred;
    text-align: center;
}

